:root {
    --primary: #c4170c; /* Vermelho G1/Alerta */
    --dark-bg: #0a0a0a; /* Fundo quase preto */
    --card-bg: #111111; /* Fundo dos cards */
    --text-main: #e0e0e0; /* Cinza claro para leitura */
    --kali-green: #00ff41; /* Verde Matrix */
}

body {
    background-color: var(--dark-bg); /* MUDANÇA: Agora o fundo é escuro */
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Centralizada */
.navbar {
    background-color: #000;
    border-bottom: 4px solid var(--primary);
    padding: 1.5rem 0;
}

.navbar-brand {
    font-family: 'Courier New', monospace; /* Fonte de terminal */
    font-weight: 900;
    color: #00ff41 !important; /* Verde Matrix */
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Layout de Conteúdo */
.main-content {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 15px;
}

/* Cards de Notícia */
.news-card {
    background-color: var(--card-bg);
    border: 1px solid #222;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px; /* Cantos levemente arredondados para estética moderna */
}

.cat-tag {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
}

.news-title {
    color: #ffffff !important; /* Branco puro para brilhar no fundo escuro */
    display: block;
    font-size: 2rem; /* Aumentei para o clickbait aparecer bem */
    margin: 15px 0;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2;
}

.news-title:hover {
    color: var(--kali-green) !important; /* Efeito hover estilo Hacker */
}

.news-excerpt {
    color: #b0b0b0; /* Cinza para o resumo não brigar com o título */
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 20px auto;
}

.news-meta {
    font-size: 0.85rem;
    color: #666;
    border-top: 1px solid #222;
    padding-top: 15px;
    margin-top: 15px;
}

.news-meta strong {
    color: var(--kali-green); /* Seu nome Lucas Mendes em verde Matrix */
}

/* Badge de Live */
#live-badge {
    animation: blink 1.5s infinite;
    color: var(--primary);
}

@keyframes blink { 
    0%, 100% { opacity: 1; } 
    50% { opacity: 0.3; } 
}