body {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
}

.font-monospace {
    font-family: 'JetBrains Mono', 'Courier New', monospace !important;
}

.fw-black { font-weight: 900; }

.grayscale {
    filter: grayscale(100%) contrast(120%);
    transition: 0.5s;
}

.card:hover .grayscale {
    filter: grayscale(0%) contrast(100%);
}

.animate-pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

/* Efeito de entrada dos posts */
.animate-in {
    animation: slideUp 0.6s ease-out forwards;
}

/* No seu style.css */

.card-body p {
    color: #b0b8c1 !important; /* Um cinza claro azulado, estilo terminal sênior */
    line-height: 1.6;
    font-weight: 400;
}

/* Para dar destaque aos títulos no fundo preto */
h2.h4 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.2); /* Sutil brilho neon ciano */
}

/* Ajuste nos metadados (data/local) */
.text-secondary {
    color: #6c757d !important; /* Mantém o secundário legível */
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}