# SEGURANÇA MÁXIMA (Cybersecurity)
.env
*.env
.github/token.txt

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android resíduos
.gradle/
local.properties
**/android/**.keystore
**/android/**.jks
**/android/keys.properties
/android/app/debug
/android/app/profile
/android/app/release

# VS Code & OS
.vscode/
.DS_Store
*.swp
*.lock

# LOGS
*.log